<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>{{ title }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
<style type="text/css">

:root {
  font-family: sans-serif;
  white-space: nowrap;
  margin-top: 2rem;
}

@media (min-width: 1200px) {
  :root {
    --font-size: 18px;
  }
}

h1, h2, h3, h4, h5, h6 {
  --typography-spacing-vertical: 1rem;
}

button {
  width: unset;
}

table {
  --line-height: 0.8;
}

ul,
pre {
  margin-top: 1rem;
}

table[role=grid] tbody tr:hover {
  filter: brightness(1.5);
}

table[role=grid] tbody tr:hover:nth-child(odd) {
  filter: brightness(1.5);
}

div.container {
  margin-bottom: 2rem;
}

</style>
{% block css %}
{% endblock %}
{% block head %}
{% endblock %}
</head>
<body>
<div class="container">
  <a href="/">Return home</a>
</div>
{% block body %}
{% endblock %}
</body>
</html>
