<!DOCTYPE html>
<html lang="en-US" class="dark-mode">
<head>
<meta charset="UTF-8">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=5">
<title>PayPal sandbox</title>
</head>
<body>
</body>
</html>
