<!DOCTYPE html>
<html lang="en-US" class="dark-mode">
<head>
<meta charset="UTF-8">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=5">
<title>PayPal sandbox</title>
<link href="https://cdn.jsdelivr.net/gh/codazoda/neatcss@v1.0.12/neat.css" rel="stylesheet" crossorigin="anonymous" integrity="d5aba09c5ea7ca3260a07edbb3acf62813e607b8c0f01d2580fc1c57103bb643">
<style>

:root {
  margin-top: 2rem;
  border-top: none;
}

</style>
<script type="module">

document.addEventListener('DOMContentLoaded', () => {
  const button = document.querySelector('button');

  button.addEventListener('click', async () => {
    const response = await fetch(window.location, {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify({
        amount: 10,
        currency: 'USD',
        description: 'Ice cream',
      }),
    });

    if (!response.ok) {
      console.error(response.statusText);
      return;
    }

    const json = await response.json();

    console.log(json.result);

    window.location = json.redirect;
  });
});

</script>
</head>
<body>
  <button>buy ice cream</button>
</body>
</html>
